# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

NEXT_PUBLIC_APP_URL="https://localhost:3000"

GOOGLE_CLIENT_ID=112971640638-7b9dbo6kc503vvu53009dvsdiqrks1fa.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

NEXT_AUTH_SECRET=Mcomca7Y3WDTudSbh3LCTTynDYowALXTJKtcGagngZ4=

UPLOADTHING_SECRET=sk_live_aa61af129800127d9e0a86c20ffffd9b3d7438a5a352fe72b28b9f0fe24b0837
UPLOADTHING_APP_ID=rj6y1duqsl

MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=

DATABASE_URL="mysql://avnadmin:AVNS_2N2LExcZIHQbAw2gjQQ@kawandata-lutvi-rosyady.d.aivencloud.com:13848/defaultdb?ssl-mode=REQUIRED"